<div class="buttons">
<button class="btn" type="button" ng-click="createPage()"><i class=icon-plus></i>新增</button>
<button class="btn btn-danger" type="button" ng-click="removePage()" ng-disabled="unremoveable"><i class=icon-remove></i>删除</button>
</div>
<div class="well sidebar-nav pages">
<ul class="nav nav-list">
  <li ng-repeat="page in pages" ng-class="{'active': selectedPage == page}">
  <a href="javascript:void(0)" ng-click="select($index)" ng-class="{'uname': !page.name}">{{page.name || '未命名'}}</a>
  </li>
</ul>
</div>