<div class="buttons">
<button class="btn btn-small" type="button"><i class=icon-forward></i>生成测试版</button>
<button class="btn btn-small" type="button"><i class=icon-fast-forward></i>生成正式版</button>
</div>
<div class="preview">
<div class="mobile">
<div class="content" ng-show="selectedPage" >
<iframe src="preview_chui.html" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
</div>
<div class="content" style="text-align:center;" ng-show="!selectedPage" >
<div style="padding-top:50px;">请选择左侧列表中的页面</div>
</div>
</div>
</div>
