<div class="buttons">
<button class="btn btn-small" type="button">锁定</button>
</div>
<div class="accordion" id="properties">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties" href="#basic">基本属性</a>
    </div>
    <div id="basic" class="accordion-body collapse in">
      <div class="accordion-inner ">
        <table>
        <tr><td><label class="control-label" for="pname">页面名称:</label></td><td><input type="text" id="pname" placeholder="请输入页面名称" ng-model="selectedPage.name" required></td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties" href="#data">数据设置</a>
    </div>
    <div id="data" class="accordion-body collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
</div>