<div class="buttons">
<button class="btn" type="button" ng-show="!selectedPage.locked" ng-click="lock()"><i class=icon-edit></i>可编辑</button>
<button class="btn" type="button" ng-show="selectedPage.locked" ng-click="unlock()"><i class=icon-lock></i>已锁定</button>
<definer-page-lang-select></definer-page-lang-select>
</div>
<div class="accordion" id="properties">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties" href="#basic">基本属性</a>
    </div>
    <div id="basic" class="accordion-body collapse in">
      <div class="accordion-inner ">
        <table>
        <tr>
        <td width="150px"><label class="control-label" for="pname">页面名称:</label></td>
        <td><input type="text" id="pname" placeholder="请输入页面名称" ng-model="selectedPage.name" ng-disabled="selectedPage.locked" required></td>
        </tr>

        <tr>
        <td valign="top"><label class="control-label">显示Header?:</label></td>
        <td>
        <button class="btn btn-small" type="button" ng-show="!selectedPage.header.enabled" ng-disabled="selectedPage.locked" ng-click="showHeader()">否</button>
        <button class="btn btn-small" type="button" ng-show="selectedPage.header.enabled" ng-disabled="selectedPage.locked"  ng-click="hideHeader()">是</button>
        </td>
        </tr>

        <tr ng-show="selectedPage.header.enabled">
        <td valign="top"><label class="control-label" for="phdtext">编辑Header文字?:</label></td>
        <td>
        <button class="btn btn-small" type="button" ng-show="!selectedPage.header.label.enabled" ng-disabled="selectedPage.locked" ng-click="showHeaderText()">否</button>
        <button class="btn btn-small" type="button" ng-show="selectedPage.header.label.enabled" ng-disabled="selectedPage.locked"  ng-click="hideHeaderText()">是</button>
        </td>
        </tr>

        <tr ng-show="selectedPage.header.label.enabled">
        <td valign="top"><label class="control-label" for="phdtext">Header文字:</label></td>
        <td>
        <div><span>中文:<span><input type="text" id="phdtext" placeholder="请编写Header固定文字" ng-model="selectedPage.header.label.text.cn" ng-disabled="headerTextDisabled" required></div><br/>
        <div><span>英文:<span><input type="text" placeholder="Please type header text" ng-model="selectedPage.header.label.text.en" ng-disabled="headerTextDisabled" required></div>
        </td>
        </tr>

        <tr ng-show="selectedPage.header.enabled">
        <td valign="top"><label class="control-label">显示返回键?:</label></td>
        <td>
        <button class="btn btn-small" type="button" ng-show="!selectedPage.header.back.enabled" ng-disabled="selectedPage.locked" ng-click="showBack()">否</button>
        <button class="btn btn-small" type="button" ng-show="selectedPage.header.back.enabled" ng-disabled="selectedPage.locked"  ng-click="hideBack()">是</button>
        </td>
        </tr>

        <tr ng-show="selectedPage.header.back.enabled">
        <td valign="top"><label class="control-label" for="phdtext">返回文字:</label></td>
        <td>
        <div><span>中文:<span><input type="text" id="phdtext" placeholder="请编写返回键文字" ng-model="selectedPage.header.back.text.cn" ng-disabled="selectedPage.locked" required></div><br/>
        <div><span>英文:<span><input type="text" placeholder="Please type back button text" ng-model="selectedPage.header.back.text.en" ng-disabled="selectedPage.locked" required></div>
        </td>
        </tr>

        </table>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#properties" href="#data">数据设置</a>
    </div>
    <div id="data" class="accordion-body collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
</div>