<!DOCTYPE html>
<html lang="{{=it.global.lang}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="version" content="{{=it.global.version}}">
    <link rel="apple-touch-startup-image" href="startup.png">
    <link rel="apple-touch-icon" href="app-icon.png"/>
    <link rel="shortcut icon" href="favicon.ico">
    <title>{{=it.global.project}} - {{=it.title}}</title>
    <link rel="stylesheet" href="./chui/chui.css">
    <link rel="stylesheet" href="./css/app.css">
    <script src="./chui/zepto.js"></script>
    <script src="./chui/chui.js"></script>
    <script src="./chui/iscroll.js"></script>
    <script src="./js/base.js"></script>
</head>
<body>
<app>
    <view id="main" ui-background-style="striped" ui-navigation-status="current">
    <navbar>
        <h1>Mehr</h1>
    </navbar>
    <subview ui-associations="withNavBar">
        <scrollpanel>
        <tableview id="addressers" ui-tablecell-order="stacked">
            <tablecell  ui-usage="image" ui-implements="detail-disclosure" href="http://www.twitter.com">
                <img src="images/twitter.png">
                <celltitle>Follow me on Twitter</celltitle>
            </tablecell>
            <tablecell  ui-usage="image" ui-implements="detail-disclosure" href="http://www.facebook.com">
                <img src="images/facebook-logo.png">
                <celltitle>Follow me on Facebook</celltitle>
            </tablecell>
            <tablecell ui-usage="image" ui-implements="detail-disclosure" href="http://www.hairspa.ch/news_events.html">
                <img src="images/news.png">
                <celltitle>News</celltitle>
            </tablecell>
            <tablecell ui-usage="image" ui-implements="detail-disclosure" href="http://www.hairspa.ch/jobs.html">
                <img src="images/job.png">
                <celltitle>Jobs</celltitle>
            </tablecell>
        </tableview>
        <shim></shim>
        </scrollpanel>
    </subview>
    <tabbar ui-selected-tab="{{=it.global.selectedMenu}}">
{{~ it.global.menus :menu:i }}
     <uibutton implements="tab" href="{{=menu.link}}">
         <icon style="-webkit-mask-box-image: url(icons/{{=menu.image}});" class="{{? i == it.global.selectedMenu}}selected{{?}}"></icon>
         <label>{{=menu.label}}</label>
     </uibutton>
{{~}}
    </tabbar>
    </view>
</app>
</body>
</html>